* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1F1F1F;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;  
}

button {
  border: none;
  outline: none;
  font-family: 'inter', sans-serif;
  cursor: pointer;
}
.container {
  background-color: #FFF7ED;
  width: 100%;
  width: 54.8rem;
  margin: 0 auto;
}
/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 54.8rem;
  height: 11.1rem;
  background: #FFF7ED;
  padding: 1.6rem 2.4rem;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

nav {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
nav > a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #4D4D4D;
}

.nav-host {
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  padding: 0rem 2.4rem;
}

.nav-host > a {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.292rem;
  color: #4D4D4D;

}
/* HOME */
.home-img {
  width: 54.8rem;
  height: 38.6rem;
}

.home-container {
  width: 54.8rem;
  height: 38.6rem;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  color: #FFFFFF;
  width: 49.4rem;
  height: 25.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-text h2 {
  font-size: 3.6rem;
  font-weight: 700;
}
.home-text p {
  font-size: 1.6rem;
  font-weight: 300;
}
.find-your-van {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.4rem;
  height: 10rem;
  background: #FF8C38;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

/* ABOUT */
.about-container {
  padding: 6rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-container h1 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #161616;
}

.about-container p {
  font-weight: 500;
  font-size: 1.6rem;
  color: #161616;
}

.about-img-container {
  width: 54.8rem;
  height: 23.3rem;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-card {
  max-width: 49.4rem;
  height: 19.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #FFCC8D;
  border-radius: 0.5rem;
  padding: 0rem 5rem ;

}
.about-card p {
  font-weight: 700;
  font-size: 2.4rem;
}

.about-card button {
  width: 17.4rem;
  height: 4.9rem;
  border: none;
  border-radius: 1rem;
  color: #FFFFFF;
  background-color: #161616;
  font-weight: 700;
  font-size: 1.6rem;
}

/* VANS */

.vans-container {
  padding: 3rem 3rem;
}
.vans-container > h1 {
  width: 49.4rem;
  height: 3.4rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 3.2rem;
  margin-bottom: 3rem;

}

.filter-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.filter-btns > button {
  width: 10.4rem;
  height: 3.7rem;
  border-radius: 0.5rem;
  color: #4D4D4D;
  background-color: #FFEAD0;
}
.filter-btns > .clear-filters {
  background-color: inherit;
  text-decoration: underline;
}

.vans-container-grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 5rem;
  grid-template-columns: repeat(2,1fr);
}

.van-flex{
  display: flex;
  flex-direction: column;
}

.van-img-container {
  max-width: 24.4rem;
  height: 22.9rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.van-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.van-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}
.van-details > h2{
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.7rem;
  color: #161616;
}
.van-details  span {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: right;
}

.host-van-details-button, .van-flex > button {
  /* align-self: flex-start; */
  width: 8.5rem;
  height: 3.3rem;
  background-color: #E17654;
  color: #FFEAD0;
  font-weight: 600;
  border-radius: 5px;

}



/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54.8rem;
  height: 7.4rem;
  background: #252525;
}
footer p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #AAAAAA
}

/* VAN DETAILS */
.van-details-page {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.van-details-page > a {
  font-weight: 500;
  font-size: 1.6rem;
  color: #201F1D;
  text-decoration: underline;
}

.van-details-page > img {
  width: 49.7rem;
  height: 49rem;
  border-radius: 0.5rem;
  margin: 4rem auto;

}

.van-details-page > button {
  cursor: default;
  width: 8.5rem;
  height: 3.3rem;
  background-color: #E17654;
  color: #FFEAD0;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.van-details-page > h1 {
  line-height: 3.4rem;
  font-weight: 700;
  font-size: 3.2rem;
  color: #161616;
  margin-bottom: 2rem;

}
.van-details-page > h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 4.415rem;
  margin-bottom: 2rem;

}

.van-details-page > p {
  font-family: Inter;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.392rem;
  color: #161616;
  margin-bottom: 2rem;


}

.van-details-page span {
  font-weight: 400;
  font-size: 1.6rem;
}

button.rent-van {
  width: 49.4rem;
  height: 4.9rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.166rem;
  background-color: #FF8C38;
  color: #FFFFFF;
  margin-bottom: 8rem;
}

/* HOSTVANS.JSX */

.host-vans-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 90%;
  margin: 5rem auto;
}

.host-vans-container > h1 {
  margin-bottom: 2rem;
  width: 49.4rem;
  height: 3.4rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 3.2rem;
  line-height: 3.365rem;
  color: #161616;
}
.host-van-flex {
  gap: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  width: 49.4rem;
  height: 10.2rem;
  padding-left: 2rem;
  background-color: #FFFFFF;
}

.host-van-flex > img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 0.5rem;
}

.host-van-flex > h1 {
  color: #161616;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
}

.host-van-flex  span {
  color: #4D4D4D;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.1rem;
}

/* HOST VAN DETAILS */

.hostvan-section {
  padding: 1rem 0rem;
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
  background-color: #FFFFFF;
}

h1.host-van-details-h1 {
  line-height: 3rem;
}
.host-van-details-grid {
  margin-top: 3rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 18rem 18rem;
  padding-left: 2rem;
  background-color: #FFFFFF;
}

.host-van-details-grid img{
  width: 16.rem;
  height: 15.79rem;
  border-radius: 0.5rem;

}
.host-van-details-flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.host-van-details-flex span {
  font-weight: 400;
}

.hostvan-details-nav {
  padding-top: 2rem;
  margin: 0 auto;
  width: 90%;
  gap: 4rem;
  display: flex;
  justify-content: flex-start;
 
}
.hostvan-details-nav a {
   font-size: 1.615rem;
  font-weight: 500;
  line-height: 2.057rem;
}

a.Host-van-details-link {
  padding: 0rem 2.4rem;
  font-weight: 500;
  font-size: 1.595rem;
  line-height: 2.292rem;
  text-decoration: underline;
  color: #201F1D;
}

.host-van-details-data {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column; 
  gap: 3rem;
  margin: 0rem auto;
  padding: 3rem 2rem;
  width: 90%;
}

.host-van-details-data > h1 {
font-weight: 700;
font-style: Bold;
font-size: 1.435rem;
line-height: 2.146rem;
}

.host-van-details-data  span {
font-weight: 500;
font-style: Medium;
font-size: 1.435rem;
line-height: 21.46px;
}

.host-van-pricing,.host-van-details-photos {
  margin: 0rem auto;
  padding: 3rem 2rem;
  width: 90%;
  background-color: #FFFFFF;
}

.host-van-pricing > h1 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.146rem;
  color: #161616;
}

.host-van-pricing span {
  font-weight: 500;
  font-size: 1.6rem;
  color: #4D4D4D;
}

.host-van-details-photos > img {
  width: 10.3rem;
height: 10.155511474609375rem;
border-radius: 0.5rem;

}